In [1]:
import numpy as np 
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/intern/car.csv
/kaggle/input/vucar-prepare-store-dict/final_data_dict.json
/kaggle/input/vucar-prepare-store-dict/__results__.html
/kaggle/input/vucar-prepare-store-dict/data_dict.json
/kaggle/input/vucar-prepare-store-dict/__notebook__.ipynb
/kaggle/input/vucar-prepare-store-dict/__output__.json
/kaggle/input/vucar-prepare-store-dict/custom.css

In [2]:
df = pd.read_csv("/kaggle/input/intern/car.csv")
df.head()

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
0,148468232,108616925,1693378633111,1980,Jeep,A2,Mỹ,SUV / Cross over,4.0,MT,petrol,green,40000,380000000.0,used
1,149864917,109805135,1694308247000,2021,Honda,City,Nhật Bản,Sedan,5.0,AT,petrol,white,23000,455000000.0,used
2,149580046,109560282,1693462201000,2016,Kia,Rio,Hàn Quốc,NaN,NaN,AT,petrol,NaN,78545,295000000.0,used
3,148601679,108727914,1693493126176,2020,Toyota,Vios,Việt Nam,Sedan,5.0,MT,petrol,white,99999,368000000.0,used
4,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used

In [3]:
df = df.drop_duplicates()
df.shape

(81458, 15)

In [4]:
df = df.dropna(subset=['brand', 'model'])
print(df.shape)
df.isnull().sum()

(81436, 15)

id                      0
list_id                 0
list_time               0
manufacture_date        0
brand                   0
model                   0
origin              22999
type                11126
seats                8753
gearbox               326
fuel                   14
color               26074
mileage_v2              0
price                  30
condition               0
dtype: int64

In [5]:
df.head()

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
0,148468232,108616925,1693378633111,1980,Jeep,A2,Mỹ,SUV / Cross over,4.0,MT,petrol,green,40000,380000000.0,used
1,149864917,109805135,1694308247000,2021,Honda,City,Nhật Bản,Sedan,5.0,AT,petrol,white,23000,455000000.0,used
2,149580046,109560282,1693462201000,2016,Kia,Rio,Hàn Quốc,NaN,NaN,AT,petrol,NaN,78545,295000000.0,used
3,148601679,108727914,1693493126176,2020,Toyota,Vios,Việt Nam,Sedan,5.0,MT,petrol,white,99999,368000000.0,used
4,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used

# Handle Missing Value

In [6]:
import json

file_path = '/kaggle/input/vucar-prepare-store-dict/final_data_dict.json'
with open(file_path, 'r', encoding='utf-8') as f:
    car_data_json = json.load(f)

In [7]:
def fill_missing_values(row, json_data):
    manufacture_year = str(row["manufacture_date"])
    brand = row["brand"]
    model = row["model"]

    if manufacture_year in json_data:
        brands = json_data[manufacture_year]
        if brand in brands and model in brands[brand]:
            model_info = brands[brand][model]
            for col in ["origin", "type", "seats", "gearbox", "fuel", "color"]:
                if pd.isna(row[col]):
                    row[col] = model_info.get(col, row[col])
    return row

# Áp dụng hàm điền dữ liệu vào từng hàng trong dataframe
df = df.apply(lambda row: fill_missing_values(row, car_data_json), axis=1)

In [8]:
df.isnull().sum()

id                   0
list_id              0
list_time            0
manufacture_date     0
brand                0
model                0
origin               0
type                 0
seats                0
gearbox              0
fuel                 0
color                0
mileage_v2           0
price               30
condition            0
dtype: int64

In [9]:
df_cleaned = df.dropna(subset=['price'])
df_cleaned.isnull().sum()

id                  0
list_id             0
list_time           0
manufacture_date    0
brand               0
model               0
origin              0
type                0
seats               0
gearbox             0
fuel                0
color               0
mileage_v2          0
price               0
condition           0
dtype: int64

In [10]:
file_path = "handled_missing.csv"
df_cleaned.to_csv(file_path, index=False)

In [11]:
test = pd.read_csv(file_path)
test.head()

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
0,148468232,108616925,1693378633111,1980,Jeep,A2,Mỹ,SUV / Cross over,4.0,MT,petrol,green,40000,380000000.0,used
1,149864917,109805135,1694308247000,2021,Honda,City,Nhật Bản,Sedan,5.0,AT,petrol,white,23000,455000000.0,used
2,149580046,109560282,1693462201000,2016,Kia,Rio,Hàn Quốc,Sedan,5.0,AT,petrol,white,78545,295000000.0,used
3,148601679,108727914,1693493126176,2020,Toyota,Vios,Việt Nam,Sedan,5.0,MT,petrol,white,99999,368000000.0,used
4,149530234,109517456,1693313503000,2001,Fiat,Siena,Việt Nam,Sedan,5.0,MT,petrol,white,200000,73000000.0,used